@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('~video-react/dist/video-react.css');

@font-face {
  font-family: 'AirBnb';
  src: url('/fonts/AirbnbCereal_W_Md.otf');
}


* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  object-fit: contain;
}

body {
  overflow-x: hidden;
  font-family: 'AirBnb';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero {
height: 150vh;
background-image: url('/src/assets/Landing_Page_Images/Frame\ 1.svg');
background-position: top;
background-size: cover;
background-repeat: no-repeat;
}

.volunteer {
  background-image: url('/src/assets/Landing_Page_Images/Group\ 48095442.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.mission {
  background-image: url('/src/assets/Landing_Page_Images/Group\ 48095446.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}





h1 {  
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;

  color: #333333;
}


.like-icon-btn {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}



@tailwind base;
@tailwind components;
@tailwind utilities;
